<configuration>
	<configSections>
		<section name="jwtSettings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<jwtSettings>
		<add key="SecretKey" value="your-256-bit-secret-key" />
		<add key="Issuer" value="your-issuer" />
		<add key="Audience" value="your-audience" />
	</jwtSettings>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="FormsAuthentication" />
		</modules>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-CSRF-Token" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>